@media (max-width: 767px) {
  #header {
    position: fixed !important;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.text-center {
  text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .ng-cloak {
  display: none !important;
}

p, h1, h2, h3, h4, h5, h6, div, span, a {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  #main {
    padding-top: 0px;
  }
}
#main * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 767px) {
  #main .nav-up {
    display: none;
  }
}
#main a {
  text-decoration: none;
}
#main p {
  margin-bottom: 0px;
}
#main ::selection {
  background: #26890D;
  color: #ffffff;
}
#main .hidden {
  display: none !important;
}

.section-headline h3 {
  font-size: 40px;
  color: #000000;
  font-weight: 400;
  text-align: left;
  margin-bottom: 7px;
  padding-bottom: 0px;
}
@media screen and (min-width: 300px) {
  .section-headline h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .section-headline h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .section-headline h3 {
    font-size: 34px;
  }
}
.section-headline p {
  font-size: 18px;
  color: #000000;
  text-align: left;
}
@media screen and (min-width: 300px) {
  .section-headline p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .section-headline p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .section-headline p {
    font-size: 18px;
  }
}
.section-headline p a {
  color: #26890D;
  text-decoration: none;
  font-weight: normal;
  text-decoration: underline !important;
  font-weight: 600;
}
.section-headline p a:hover {
  color: #227B0B;
}
.section-headline p a:focus {
  color: #227B0B;
}

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .content-container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.vertical-line {
  width: 100%;
  border-top: 1px solid #0097A9;
  height: 1px;
  position: absolute;
  z-index: 0;
  top: 30px;
}
@media (max-width: 600px) {
  .vertical-line {
    top: 20px;
  }
}

.cta-line {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cta-line .btm {
  transform: rotateX;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.social-icon {
  display: inline-block;
  margin-right: 4px;
}
.social-icon img {
  width: 30px;
  height: 30px;
}
.social-icon:hover {
  cursor: pointer;
}

.fr-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}

.modal-player-outer-container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-top: 30px;
}

.fr-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2010;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: none;
}
.fr-modal .fr-modal-body {
  margin-top: 30px;
  min-height: 400px;
  color: #000000;
  font-size: 14px;
}
@media screen and (min-width: 300px) {
  .fr-modal .fr-modal-body {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .fr-modal-body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .fr-modal-body {
    font-size: 16px;
  }
}
.fr-modal .fr-modal-body strong, .fr-modal .fr-modal-body em {
  font-size: 14px;
}
@media screen and (min-width: 300px) {
  .fr-modal .fr-modal-body strong, .fr-modal .fr-modal-body em {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .fr-modal-body strong, .fr-modal .fr-modal-body em {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .fr-modal-body strong, .fr-modal .fr-modal-body em {
    font-size: 16px;
  }
}
.fr-modal .fr-modal-body p {
  font-size: 14px;
  margin: 0px;
}
@media screen and (min-width: 300px) {
  .fr-modal .fr-modal-body p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .fr-modal-body p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .fr-modal-body p {
    font-size: 16px;
  }
}
.fr-modal .fr-modal-body a {
  color: #26890D;
  text-decoration: none;
  font-weight: normal;
  text-decoration: underline !important;
  font-weight: 600;
}
.fr-modal .fr-modal-body a:hover {
  color: #227B0B;
}
.fr-modal .fr-modal-body a:focus {
  color: #227B0B;
}
.fr-modal .fr-modal-body ul {
  list-style-type: disc;
  margin-top: 0px;
  padding-left: 20px;
}
.fr-modal .fr-modal-body ul li {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", Verdana;
  margin-bottom: 10px;
  list-style-position: outside;
}
@media screen and (min-width: 300px) {
  .fr-modal .fr-modal-body ul li {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .fr-modal-body ul li {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .fr-modal-body ul li {
    font-size: 16px;
  }
}
.fr-modal .fr-modal-body ol {
  list-style: none;
  padding-left: 20px;
  list-style-type: decimal;
}
.fr-modal .fr-modal-body ol li {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", Verdana;
  margin-bottom: 10px;
  list-style-position: outside;
}
@media screen and (min-width: 300px) {
  .fr-modal .fr-modal-body ol li {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .fr-modal-body ol li {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .fr-modal-body ol li {
    font-size: 16px;
  }
}
.fr-modal a.modal-close {
  float: right;
  margin: 0px;
  display: inline-block;
}
.fr-modal a.modal-close img {
  width: 30px;
}
.fr-modal .fr-modal-dialog {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  margin: 30px auto;
  margin-top: 120px;
  z-index: 2010;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .fr-modal .fr-modal-dialog {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .fr-modal .fr-modal-dialog {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fr-modal .fr-modal-dialog {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .fr-modal .fr-modal-dialog {
    width: 100%;
  }
}
.fr-modal .modal-heading {
  display: inline-block;
  width: 90%;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  font-family: "Open Sans", Verdana;
  line-height: 36px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .fr-modal .modal-heading {
    width: 90%;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .fr-modal .modal-heading {
    width: 80%;
    line-height: 28px;
  }
}
@media screen and (min-width: 300px) {
  .fr-modal .modal-heading {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal .modal-heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal .modal-heading {
    font-size: 34px;
  }
}
.fr-modal .modal-heading-wrapper {
  display: block;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:before, .modal-close:after {
  position: absolute;
  left: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #53565a;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.fr-modal .flex-container {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.fr-modal .flex-column {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.fr-modal .flex-column.by-2 {
  width: 50%;
}
.fr-modal .flex-column.by-2 img {
  max-width: 100%;
  width: auto;
  display: block;
}
@media (max-width: 767px) {
  .fr-modal .flex-column.by-2 {
    width: 100%;
  }
}
.fr-modal .flex-column.by-3 {
  width: 33%;
}
.fr-modal .flex-column.by-3 img {
  max-width: 100%;
  width: auto;
  display: block;
}
@media (max-width: 991px) {
  .fr-modal .flex-column.by-3 {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .fr-modal .flex-column.by-3 {
    width: 100%;
  }
}
.fr-modal .flex-column.by-4 {
  width: 25%;
}
.fr-modal .flex-column.by-4 img {
  max-width: 100%;
  width: auto;
  display: block;
}
@media (max-width: 991px) {
  .fr-modal .flex-column.by-4 {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .fr-modal .flex-column.by-4 {
    width: 100%;
  }
}
.fr-modal-body .heading {
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
  padding-bottom: 0;
  font-weight: 600;
}
@media screen and (min-width: 300px) {
  .fr-modal-body .heading {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal-body .heading {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal-body .heading {
    font-size: 22px;
  }
}
.fr-modal-body .description {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 300px) {
  .fr-modal-body .description {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .fr-modal-body .description {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .fr-modal-body .description {
    font-size: 16px;
  }
}
.fr-modal-body img {
  margin-bottom: 15px;
}

* {
  font-family: "Open Sans";
  font-size: 14px;
}

.ql-editor {
  height: 500px;
  overflow: scroll;
}

.ql-editor-small {
  min-height: 32px;
  margin-bottom: 15px;
}

.ql-editor-small > .ql-editor {
  min-height: 32px;
}

.ql-tooltip {
  z-index: 1;
}

.ql-columns .ql-picker-label {
  width: 150%;
  padding-left: 0px;
}

.heading {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.result {
  min-height: 543px;
  width: 100%;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  background: #26a69a;
  color: white;
  padding: 10px 20px;
  line-height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  display: inline-block;
}

.btn-right {
  float: right;
}

.btn:hover, .btn:focus {
  text-decoration: none;
  color: white;
}

.import-container {
  margin-top: 30px;
}

.import-container textarea {
  width: 100%;
  min-height: 150px;
}

label {
  padding-bottom: 15px;
}

.branded-component {
  opacity: 0;
}
.branded-component:nth-child(even) {
  background-color: #f7f7f7;
}
.branded-component:nth-child(even) .playlist-wrapper ol {
  background-color: #f7f7f7;
}
.branded-component .separator {
  width: 180px;
  height: 1px;
  color: #000000;
  background-color: #000000;
  margin: 0 auto;
  display: none;
}

#main-container.dark .branded-component {
  background: #000000;
}
#main-container.dark .branded-component .section-headline h3, #main-container.dark .branded-component .section-headline p {
  color: #ffffff;
}
#main-container.dark .branded-component:nth-child(2) .content-container {
  padding-top: 0;
}
#main-container.dark .branded-component .content-container {
  border-bottom: 1px solid white;
}
#main-container.dark .branded-component:last-child .content-container {
  border-bottom: none;
}
#main-container.dark .banner .headline h1 {
  color: #ffffff;
}
#main-container.dark .banner .subtitle {
  color: #d0d0ce;
}
#main-container.dark .imageinfographic .image-container {
  border: 1px solid #53565a;
}
#main-container.dark .about .text-container h3, #main-container.dark .about .text-container .description {
  color: #ffffff;
}
#main-container.dark .about .text-container p, #main-container.dark .about .text-container li, #main-container.dark .about .text-container em, #main-container.dark .about .text-container strong {
  color: #ffffff;
}
#main-container.dark .imagecarousel .image-item img {
  border: 1px solid #53565a;
}
#main-container.dark .imagecarousel .graph-thumbnail {
  border: 1px solid #53565a;
}
#main-container.dark .contact .name, #main-container.dark .contact .position {
  color: #ffffff;
}
#main-container.dark .related .title {
  color: #ffffff;
}
#main-container.dark .related .related-block:hover .title {
  color: #d0d0ce;
}
#main-container.dark .playlist-wrapper ol {
  background-color: #000000;
  color: #ffffff;
}
#main-container.dark .playlist-wrapper ol .vjs-playlist-item .vjs-playlist-name {
  color: #ffffff;
}

.fr-modal.dark .fr-modal-dialog {
  background: #000000;
  border: 1px solid #333333;
}
.fr-modal.dark .modal-heading {
  color: #ffffff;
}
.fr-modal.dark .fr-modal-body {
  color: #ffffff;
}
.fr-modal.dark .fr-modal-body p, .fr-modal.dark .fr-modal-body li, .fr-modal.dark .fr-modal-body div, .fr-modal.dark .fr-modal-body span, .fr-modal.dark .fr-modal-body h6, .fr-modal.dark .fr-modal-body h5, .fr-modal.dark .fr-modal-body h4, .fr-modal.dark .fr-modal-body h3, .fr-modal.dark .fr-modal-body h2, .fr-modal.dark .fr-modal-body h1 {
  color: #ffffff;
}
.fr-modal.dark .modal-close:before, .fr-modal.dark .modal-close:after {
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
