// Update style when view modals in tiles

#tile-container {
    height: 700px;
    overflow: scroll;
    padding: 30px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.ql-editor {
    height: 500px;
    overflow: scroll;
}

.preview-modal {
    background-color: white !important;
}

.full-width {
    width: 100% !important;
}

.branded-component {

	&:nth-child(even) {
	  	background-color: #f7f7f7;
		.playlist-wrapper {
			ol {
				background-color: #f7f7f7;
			}
		}
	}

	.separator {
		width: 180px;
		height: 1px;
		color: $color-black;
		background-color: $color-black;
		margin: 0 auto;
		display: none;
	}
}

// dark mode

#main-container.dark {

	// commong elements

	.branded-component {
		background: $color-black;



		.section-headline {
			h3, p {
				color: $color-white;
			}
		}

		&:nth-child(2) {
			.content-container {
				padding-top: 0;
			}
		}

		&:nth-child(even) {
			// background-color: #1c1c1d;

			.playlist-wrapper {
				ol {
					// background-color: #1c1c1d;
				}
			}
		}

		.content-container {
		    border-bottom: 1px solid white;
		}

		&:last-child {
			.content-container {
				border-bottom: none;
			}
		}
	}

	.banner {
		.headline h1 {
			color: $color-white;
		}

		.subtitle {
			color: $color-gray-2;
		}
	}

	.imageinfographic {
		.image-container {
			border: 1px solid $color-gray-11;
		}
	}

	.about {
		
		.text-container {
			h3, .description {
				color: $color-white;
			}

			p, li, em, strong {
				color: $color-white;
			}
		}
	}

	.imagecarousel {
		.image-item img {
			border: 1px solid $color-gray-11;
		}

		.graph-thumbnail {
			border: 1px solid $color-gray-11;
		}
	}

	.contact {

		.name, .position {
			color: $color-white;
		}

	}

	.related {
		.title {
			color: $color-white;
		}

		.related-block {

			&:hover {
				.title {
					color: $color-gray-2;
				}
			}
		}
	}

	.playlist-wrapper {
		ol {
			background-color: $color-black;
			color: $color-white;

			.vjs-playlist-item {

				.vjs-playlist-name {
				    color: $color-white;
				}
			}
		}
	}
}

  .fr-modal.dark {
	.fr-modal-dialog {
		background: $color-black;
        border: 1px solid #333333;
	}

	.modal-heading {
		color: $color-white;
	}

	.fr-modal-body {
		color: $color-white;
		p, li, div, span, h6, h5, h4, h3, h2, h1 {
			color: $color-white;
		}
	}

	.modal-close:before, .modal-close:after {
	    background-color: $color-white;
	}
  }
  
  .heading {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .result {
    // min-height: 543px;
    width: 100%;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    height: 543px;
    overflow: scroll;
  }
  
  .btn {
    margin-bottom: 15px;
    display: inline-block;
    background: #26a69a;
    color: white;
    padding: 10px 20px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    display: inline-block;
  }
  
  .btn-right {
    width: auto;
    float: right;
  }
  
  .btn:hover, .btn:focus {
    text-decoration: none;
    color: white;
  }

  .btn-small {
    margin-bottom: 15px;
    display: inline-block;
    background: #26a69a;
    color: white;
    padding: 2px 5px;
    line-height: 24px;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    display: inline-block;
  }
  
  #import-text-editor {
    width: 100%;
    min-height: 150px;
  }
  
  fieldset > input {
    width: 100%;
    margin-bottom: 15px;
  }
  
  legend {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .modal-checkbox {
    margin-bottom: 15px;
    vertical-align: middle;
  }
  
  // Line up checkbox
  input[type="checkbox"] {
    vertical-align: -3px;
  }

  label {
      margin-bottom: 15px;
  }

