// Temporary due to d.com changes

#header {
	@include bp(xs) {
		position: fixed !important;
	}
}

// end of  Temporary due to d.com changes

.container {
	
	@include bp(l) {
		// width: 1200px;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	@include bp(m) {
	    padding-left: 5px;
	    padding-right: 5px;
	}
}

.text-center {
	text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .ng-cloak {
	display: none !important;
}

// remove d.com style
p, h1, h2, h3, h4, h5, h6, div, span, a {
	margin: 0;
	padding: 0;
}

#main {


	// padding-top:4px;

	@include bp(xs) {
		padding-top: 0px;
	}

	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-font-smoothing: antialiased;
	}

	.nav-up {
		@include bp(xs) {
		    // top:-40px;
		    // opacity:0;
		    display: none;
		}
	}

	a{
		text-decoration: none;
	}

	p {
		margin-bottom: 0px;
	}

	::selection {
		background: $color-green-standard;
		color: $color-white;

	}

	.hidden {
		display: none !important;
	}
}

.section-headline {
	h3 {
		@include font-size($fz-headline);
		color: $color-black;
		font-weight: 400;
		text-align: left;
		margin-bottom: 7px;
		padding-bottom: 0px;
	}

	p {
		@include font-size($fz-intro);
		color: $color-black;
		text-align: left;

		a {
			color: $color-green-standard;
			text-decoration: none;
			font-weight: normal;
			text-decoration: underline !important;
			font-weight: 600;

			&:hover {
				color: $color-green-standard-hovered;
			}

			&:focus {
				color: $color-green-standard-hovered;
			}
			
		}
	}
}

.content-container {
	padding-top: 75px;
	padding-bottom: 75px;

	@include bp(sm) {
		padding-top: 60px;
		padding-bottom:60px;
	}

	@include bp(xs) {
		padding-top: 45px;
		padding-bottom:45px;
	}

    // border-bottom: 1px solid #d0d0ce;
}

.vertical-line {
	width: 100%;
    border-top: 1px solid #0097A9;
    height: 1px;
    position: absolute;
    z-index: 0;
    top: 30px;

	@include bp(cxs) {
		top: 20px;
	}
}

.cta-line {

	margin-top: 60px;
	margin-bottom: 60px;
	.btm {
	    transform: rotateX;
	    -ms-transform: rotate(-180deg);
	    -webkit-transform: rotate(-180deg);
	    transform: rotate(-180deg);
	}

}


.social-icon {

	display: inline-block;
	margin-right: 4px;
	img {
		width: 30px;
		height: 30px;
	}

	&:hover {
		cursor: pointer;
	}
}
