// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin bp($breakpoint) {


  @if $breakpoint == "xxs" {
    @media (max-width: 375px) {
      @content;
    }
  }

  @else if $breakpoint == "xxxs" {
    @media (max-width: 370px) {
      @content;
    }
  }

  @else if $breakpoint == "kxs" {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $breakpoint == "cxs" {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $breakpoint == "xs" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "sm" {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "sm-open" {
    @media (max-width: 991px) {
      @content;
    }
  }

  @else if $breakpoint == "m" {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $breakpoint == "m-open" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "l" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $breakpoint == "xl" {
    @media (min-width: 1500px) {
      @content;
    }
  }

  @else if $breakpoint == "vxs" {
    @media (min-width: 501px) and (max-width: 767px) {
      @content;
    }
  }
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin line-height($lh-map) {
  @each $lh-breakpoint, $lh-line-height in $lh-map {
    @if $lh-breakpoint == null {
      line-height: $lh-line-height;
    }
    @else {
      @media screen and (min-width: $lh-breakpoint) {
        line-height: $lh-line-height;
      }
    }
  }
}