.fr-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: $color-black;
    opacity: 0.5;
    display: none;
}

.fr-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2010;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: none;

	.fr-modal-body {

		margin-top: 30px;
		min-height: 400px;
		color: $color-black;

		@include font-size($fz-body-copy-2);
		p {
			@include font-size($fz-body-copy-2);
			margin:0px;
		}

		a {
			color: $color-green-standard;
			text-decoration: none;
			font-weight: normal;
			//text-decoration: underline !important;
			font-weight: 600;

			&:hover {
				color: $color-green-standard-hovered;
			}

			&:focus {
				color: $color-green-standard-hovered;
			}
			
		}

		ul {
		    list-style-type: disc;
		    margin-top: 0px;
		    padding-left: 20px;

		    li {
			    margin: 0;
			    @include font-size($fz-body-copy-2);
			    font-family: 'Open Sans', Verdana;
			    margin-bottom: 10px;
			    list-style-position: outside;
		    }
		}

		ol {
		    // padding: 0px;
		    list-style: none;
		    // margin: 0px;
		    padding-left: 20px;
			list-style-type: decimal;

			li {
			    margin: 0;
			    @include font-size($fz-body-copy-2);
			    font-family: 'Open Sans', Verdana;
			    margin-bottom: 10px;
			    list-style-position: outside;		
			}
		}
	}

	a.modal-close {
		float: right;
		margin:0px;
		display: inline-block;
	}

	a.modal-close img {
		width: 30px;
	}

	.fr-modal-dialog {
	    position: relative;
	    background-color: #ffffff;
	    padding: 30px;
	    -webkit-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	    -o-transform: translate(0,0);
	    transform: translate(0,0);
		margin: 30px auto;
		margin-top: 120px;
		z-index: 2010;
        
	    @include bp(m) {
	    	width: 960px;
	    }

	    @include bp(l) {
	    	width: 960px;
	    }

	    @include bp(sm) {
	    	width: 700px;
	    }

	    @include bp(xs) {
	    	width: 100%;
	    }
	}

	.modal-heading {
		display: inline-block;
		width: 90%;
		padding-bottom: 0px;

		@include bp(sm) {
			width: 90%;
			line-height: 32px;
		}

		@include bp(xs) {
			width: 80%;
			line-height: 28px;
		}

		margin: 0px;
	    @include font-size($fz-headline);
	    color: #000000;
	    font-weight: 600;
		font-family: 'Open Sans', Verdana;
		line-height: 36px;

	}

	.modal-heading-wrapper {
		display: block;
	    position: relative;
	    // border-bottom: 1px solid #000;
	}

}

.modal-close {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:before, .modal-close:after {
	position: absolute;
    left: 10px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: $color-gray-11;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}


.fr-modal {
	.flex-container {
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
	}

	.flex-column {
		
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;

		&.by-2 {
			width: 50%;

			img {
				max-width: 150px;
				// margin-left: auto;
				// margin-right: auto;
				display: block;
			}

			@include bp(xs) {
				width: 100%;
			}
		}

		&.by-3 {
			width: 33%;
			img {
				max-width: 150px;
				// margin-left: auto;
				// margin-right: auto;
				display: block;
			}

			@include bp(sm-open) {
				width: 50%;
			}

			@include bp(kxs) {
				width: 100%;
			}
		}

		&.by-4 {
			width: 25%;
			img {
				max-width: 150px;
				// margin-left: auto;
				// margin-right: auto;
				display: block;
			}

			@include bp(sm-open) {
				width: 50%;
			}

			@include bp(kxs) {
				width: 100%;
			}
		}
	}

	.modal-heading {

	}
}

.fr-modal-body {
	.heading {
		@include font-size($fz-component-heading);
		color: $color-black;
		margin-bottom: 15px;
		padding-bottom: 0;
		font-weight: 600;
	}
	.description {
		@include font-size($fz-body-copy-2);
		margin-bottom: 0;
		padding-bottom: 0;;
	}

	img {
		//margin-bottom: 15px;
	}
}