.unlimitedtile {
	
	.unlimitedtile-config {
		display: none;
	}

	&.no-read-more {
		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .read-more {
			display: none;
		}

		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .description {
			margin-bottom: 0;
		}

		&.hide-description {
			.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .title {
				margin-bottom: 0;
			}
		}
	}

	&.no-section-headline {
		.section-headline {
			display: none;
		}

		.content-container {
			
			padding-top: 45px;

			@include bp(sm) {
				padding-top: 30px;
			}

			@include bp(xs) {
				padding-top: 15px;
			}

		}
	}

	&.hide-imgs {
		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-img {
			display: none;
		}
	}

	&.hide-unlimitedtile-content {
		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content {
			display: none;
		}
	}

	&.hide-type {
		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .type {
			display: none;
		}
	}

	&.hide-description {
		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .description {
			display: none;
		}

		.unlimitedtile-box-container .unlimitedtile-box .unlimitedtile-cta .unlimitedtile-content .title {
			// margin-bottom: 0;
		}
	}
}

.unlimitedtile-type-one {
	background-color: $color-white;

	.section-headline {
		margin-bottom: 30px;

		@include bp(sm-open) {
			margin-bottom: 0px;
		}
	}

	// modifiers
    .col-lg-3 {
		.unlimitedtile-content {
			padding: 20px !important;
			
			.title {
				margin-bottom: 15px !important;
			}

			.type {
				margin-bottom: 15px !important;
			}

			.read-more {
				&.absolute {
					bottom: 20px !important;
				}

			}
		}
	}

	.col-lg-4 {
		.unlimitedtile-content {
			padding: 20px !important;
		}
	}

	@include bp(kxs) {
		.unlimitedtile-box-container {
		    width: 100%;

			.unlimitedtile-box {
				margin-right: auto;
				margin-left: auto;
				max-width: 350px;
                width: 100%;
			}
		}
	}

    .unlimitedtile-box-container {

        .unlimitedtile-box {
            margin-top: 30px;

            @include bp(xs) {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            @include bp(xxs) {
                margin-left: auto;
                margin-right: auto;
            }

            .unlimitedtile-cta {
                display: block;
                background: $color-white;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.45);
                }

                &:focus {

                    .unlimitedtile-content {
                        background: #fbfbfb;
                    }
                }

                @include bp(xs) {
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                }

                .unlimitedtile-img {
                    img {
                        width: 100%;
                    }
                }

                .unlimitedtile-content {
                    background: $color-white;
                    padding: 20px;
                    width: 100%;
                    position: relative;
                    // height: 200px;
                    // padding: 20px;

                    @include bp(xs) {
                        padding: 20px !important;
                    } 

                    .type {
                        text-transform: uppercase;
                        position: relative;
                        display: block;
                        font-size: 14px;
                        letter-spacing: 1px;
                        color: $color-gray-11;
                        font-weight: 400;
                        margin-bottom: 15px;

                        @include bp(xs) {
                            margin-bottom: 15px !important;		
                        } 
                    }

                    .title-wrapper {
                        position: relative;
                        display: block;
                    }

                    .title {
                        @include font-size($fz-component-heading);
                        color: $color-black;
                        font-weight: 400;
                        margin: 0;
                        padding-bottom: 0;
                        margin-bottom: 15px;

                        @include bp(xs) {
                            margin-bottom: 15px !important;		
                        } 
                    }

                    .description {
                        @include font-size($fz-body-copy-2);
                        color: $color-gray-11;
                        font-weight: normal;
                        margin-bottom: 30px;
                        // padding-bottom:15px;
                        // display: none;
                    }

                    .read-more-wrapper {
                        position: relative;
                        display: block;
                    }

                    .read-more {
                        display: block;
                        font-size: 16px;
                        font-weight: 600;
                        color: $color-green-standard;
                        position: relative;
                        // display: none;

                        i {
                            border: solid $color-green-standard;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                            padding: 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            margin-left: 7px;
                            display: none;
                        }

                        &.absolute {
                            position: absolute;
                            bottom: 15px;
                            
                            @include bp(xs) {
                                bottom: 20px !important;
                            }
                        }

                    }
                }
            }

            .popup-content {
                display: none;
                @include font-size($fz-body-copy-2);
                color: $color-black;
            }
        }
    }
}
