$font-primary: 'Open Sans',Verdana;

$color-white: #ffffff;
$color-black: #000000;
$color-green: #86bc25;

$color-green-1: #e3e48d;
$color-green-2: #c4d600;
$color-green-4: #43b02a;
$color-green-5: #43b02a;
$color-green-6: #c4d600;
$color-green-7: #2c5234;
$color-green-standard: #26890D;
$color-green-standard-hovered: #227B0B;
$color-green-standard-pressed: #1E6D0A;

$color-teal-1: #ddefe8;
$color-teal-2: #9dd4cf;
$color-teal-3: #6fc2b4;
$color-teal-4: #00abab;
$color-teal-5: #0097a9;
$color-teal-6: #007680;
$color-teal-7: #004f59;

$color-blue-1: #a0dcff;
$color-blue-2: #62b5e5;
$color-blue-3: #00a3e0;
$color-blue-4: #0076a8;
$color-blue-5: #005587;
$color-blue-6: #012169;
$color-blue-7: #041e42;

$color-teal-1: #ddefe8;
$color-teal-2: #9dd4cf;
$color-teal-3: #6fc2b4;
$color-teal-4: #00abab;
$color-teal-5: #0097a9;
$color-teal-6: #007680;
$color-teal-7: #004f59;

$color-gray-2: #d0d0ce;
$color-gray-4: #bbbcbc;
$color-gray-6: #a7a8aa;
$color-gray-7: #97999b;
$color-gray-9: #75787b;
$color-gray-10: #63666a;
$color-gray-11: #53565a;

// DELOITTE FONT SIZES

$fz-headline: (
	300px	: 24px,
	768px	: 30px,
	1024px	: 34px,
	null	: 40px
);

// Line height

$lh-headline: (
	300px	: 34px,
	768px	: 40px,
	1024px	: 44px,
	null	: 40px
);

$fz-headline-2: (
	300px	: 30px,
	768px	: 40px,
	1024px	: 44px,
	null	: 40px
);

// Line height

$lh-headline-2: (
	300px	: 40px,
	768px	: 50px,
	1024px	: 56px,
	null	: 40px
);

$fz-headline-3: (
	300px	: 24px,
	768px	: 28px,
	1024px	: 35px,
	null	: 40px
);

$fz-subtitle: (
	300px	: 20px,
	768px	: 24px,
	1024px	: 24px,
	null	: 24px
);

$fz-intro: (
	300px	: 16px,
	768px	: 18px,
	1024px	: 18px,
	null	: 18px
);

$fz-component-heading: (
	300px	: 18px,
	768px	: 20px,
	1024px	: 22px,
	null	: 22px
);

$fz-component-subtitle: (
	300px	: 16px,
	768px	: 18px,
	1024px	: 18px,
	null	: 18px
);

$fz-component-subtitle-3: (
	300px	: 16px,
	768px	: 18px,
	1024px	: 20px,
	null	: 18px
);

$fz-component-subtitle-2: (
	300px	: 16px,
	768px	: 16px,
	1024px	: 18px,
	null	: 18px
);

$fz-body-copy: (
	300px	: 14px,
	768px	: 14px,
	1024px	: 14px,
	null	: 14px
);

$fz-body-copy-2: (
	300px	: 16px,
	768px	: 16px,
	1024px	: 16px,
	null	: 14px
);

$fz-link-text: (
	300px	: 14px,
	768px	: 14px,
	1024px	: 14px,
	null	: 14px
);

$fz-sm-body-copy: (
	300px	: 11px,
	768px	: 11px,
	1024px	: 11px,
	null	: 11px
);

$fz-list: (
	300px	: 14px,
	768px	: 14px,
	1024px	: 14px,
	null	: 14px
);

$fz-sm-btn: (
	300px	: 14px,
	768px	: 14px,
	1024px	: 14px,
	null	: 14px
);

$fz-error-text: (
	300px	: 12px,
	768px	: 12px,
	1024px	: 12px,
	null	: 12px
);

$fz-form-label: (
	300px	: 14px,
	768px	: 14px,
	1024px	: 14px,
	null	: 14px
);

$fz-caption-text: (
	300px	: 12px,
	768px	: 12px,
	1024px	: 12px,
	null	: 12px
);





