p, h1, h2, h3, h4, h5, h6, div, span, a {
	font-family: 'Open Sans', Verdana;
	margin:0;
	/*font-size:16px;*/
}

a{
	text-decoration: none;
}


html, body , #cqcanvas{
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
   /* // background: #000;
    // background-color: #000;*/
}

#header {
	height: 70px;
	width: 100%;
	background-color: black;
	position: fixed;
	z-index: 1001;
	color: #fff;
	/*border-bottom: 1px solid #fff;*/
}

.top {
	margin-top:70px;
}

@media (max-width: 767px) {
	#header {
		height: 75px;
	}

	.top {
		margin-top: 75px;
	}
}

#main .banner, #banner3 {
    padding-top: 205px;
}

@media (max-width: 991px) and (min-width: 768px) {
	#main .banner {
		padding-top: 60px;
	}

	#header {
		position: relative;
	}

	.top {
		margin-top:0;
	}
}

@media (max-width: 767px) {
	#main .banner {
		padding-top: 45px;
	}	

	#header {
		position: relative;
	}

	.top {
		margin-top:0;
	}
}

