* {
  font-family: "Open Sans";
  font-size: 14px;
}

.ql-editor {
  height: 500px;
  overflow: scroll;
}

.heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.word-count, .char-count {
  font-size: 14px;
  margin-top: 15px;
  width: auto;
  float: left;
}

.char-count {
  float: right;
}

.word-count-container {
  overflow: auto;
}

.result {
  min-height: 543px;
  width: 100%;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}

.btn {
  margin-top: 30px;
  display: inline-block;
  background: #26a69a;
  color: white;
  padding: 10px 20px;
  line-height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  display: inline-block;
}
.btn:hover, .btn:focus {
  text-decoration: none;
  color: white;
}

.import-container {
  margin-top: 30px;
}
.import-container textarea {
  width: 100%;
  min-height: 150px;
}

.ql-tooltip {
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
